<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.cart.mapper.CartMapper">
<!-- 根据用户商品Idhe 用户Id来更新购物车数量 -->
	<update id="updateCart" parameterType="Cart">
		update tb_cart set num=#{num},updated=#{updated} where userId=#{userId} and itemId=#{itemId}
	
	</update>
</mapper>