<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sso.mapper.UserMapper">
	<select id="check" parameterType="map" resultType="int">
		select count(*) from tb_user where ${type}=#{param}
	
	</select>
	<select id="findUsrByName" parameterType="string" resultType="com.jt.sso.pojo.User">
		select * from tb_user where username=#{u}
	
	</select>
</mapper>